---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import WhatsAppButton from "../../components/WhatsAppButton.astro";

interface Photo {
  src: string;
  title: string;
}

const photos: Photo[] = [
  { src: "/images/actividades/2018/1.jpg", title: "Febrero 2018- Categoría Sub10 Copa futuros talentos" },
  { src: "/images/actividades/2018/2.jpg", title: "Febrero 2018- Categoría Sub12 Copa futuros talentos" },
  { src: "/images/actividades/2018/3.jpg", title: "Abril 2018- Fase final Copa Futuros talentos" },
];

const photos2: Photo[] = [
  { src: "/images/actividades/2018/4.jpg", title: "Junio 10 2018- Competencia Copa Telepacifico 2018, jugadoren disputa del balon Duvan Mejia Renjifo, delantero." },
  { src: "/images/actividades/2018/5.jpg", title: "Julio 24 2018- Segunda vuelta de la Copa Telepacifico 2018, frente a Aguilas FC, en Cali Valle, grupo a cargo de DT Armando Guerrero y AT Diego Idrobo" },
  { src: "/images/actividades/2018/6.jpg", title: "Julio 8 2018- Segunda vuelta de la Copa Telepacifico 2018, frente a Padilla FC, en estadio Padilla Cauca, grupo a cargo de DT Armando Guerrero y AT Diego Idrobo" },
  { src: "/images/actividades/2018/7.jpg", title: "Grupo camino a Buenaventura a nuestro partido por el grupo A, CT2018" },
  { src: "/images/actividades/2018/8.jpg", title: "Finalizaciòn de nuestra participación en la Copa Telepacifico 2018, gracias al pueblo floridano por su acogida. DT Armando Guerrero" },
  { src: "/images/actividades/2018/9.jpg", title: "Duvan Mejia jugador 1C 2017-2018" },
  { src: "/images/actividades/2018/10.jpg", title: "Abril 8 2018- Inicios de participación en la Copa Telepacifico 2018, DT Victor Manuel Balanta (Pance vs Cali)" },
  { src: "/images/actividades/2018/11.jpg", title: "10 Julio 2018-Entrenamiento primera C a cargo del AT Diego Idrobo" },
  { src: "/images/actividades/2018/12.jpg", title: "5 Agosto 2018- Plantel en la bahia de Buenaventura" },
  { src: "/images/actividades/2018/13.jpg", title: "5 Agosto 2018- Evoldep en Buenaventura vs Club Cristopher Moreno" },
  { src: "/images/actividades/2018/14.jpg", title: "5 Agosto 2018- cancha la independencia de Buenaventura vs Club Cristopher Moreno" },
  { src: "/images/actividades/2018/15.jpg", title: "Santiago Charrupi jugador 1C 2017-2018" },
  { src: "/images/actividades/2018/16.jpg", title: "Finalizaciòn de nuestra participación en la Copa Telepacifico 2018, gracias al pueblo floridano por su acogida." },
  { src: "/images/actividades/2018/17.jpg", title: "Cuerpo tecnico 1C 2018, Profesionales Diego Idrobo y Armando Guerrero" },
  { src: "/images/actividades/2018/18.jpg", title: "Abril 8 2018- Inicio de nuestra participación en la Copa Telepacifico 2018, frente al Depor Cali en sede Pance, jugador. Juan David Mancilla, lateral izquierdo." },
  { src: "/images/actividades/2018/19.jpg", title: "Miguel León jugador 1C 2018" },
  
];


const photos3: Photo[] = [
{ src: "/images/actividades/2018/20.jpg", title: "Julio 2018- Categoria 2006 cancha La casilda Florida" },
  { src: "/images/actividades/2018/21.jpg", title: "Diciembre 5 2018- Categoria Sub12, SEMIS celebrando clasificación a final Copa Oriente 2018" },
  { src: "/images/actividades/2018/22.jpg", title: "Diciembre 2 2018- Categoria Sub12, 4tos de final celebrando clasificación a semifinales Copa Oriente 2018" },
  { src: "/images/actividades/2018/23.jpg", title: "2018 Noviembre 24-Finalizacion en semifinales de Copa Oriente 2018 para nuestra categoria Sub8" },
  { src: "/images/actividades/2018/24.jpg", title: "28 Julio 2018-Primera fase Copa Oriente 2018 categoria Sub8, Formador Juan Mancilla, AT Leon y presidente Diego Idrobo" },
  { src: "/images/actividades/2018/25.jpg", title: "24 Junio 2018-Participacion Copa Oriente 2018 categoria Sub8, Formador Juan Mancilla, presidente Diego Idrobo, secretaria Diana Motato" },
  { src: "/images/actividades/2018/26.jpg", title: "24 Junio 2018-Nuestro formador Juan Mancilla frente a sus dirigidos de la categoria Sub 8 en enfrentamiento por Copa Oriente frente a Incauca Verdolagas Corinto" },
  { src: "/images/actividades/2018/27.jpg", title: "18 Diciembre 2018, Subcampeones Copa Oriente 2018 Categoría Sub12" },
  { src: "/images/actividades/2018/28.jpg", title: "14 Julio 2018-DT Andres Viafara frente a sus dirigidos Sub12 en enfrentamiento por Copa Oriente." },
  { src: "/images/actividades/2018/29.jpg", title: "12 de Mayo 2018, grupo Sub12 que inicia Copa Oriente 2018 a carogo del orientador Andres Fernando Viafara" },
  { src: "/images/actividades/2018/30.jpg", title: "12 de Mayo 2018, grupo Sub8 que inicia Copa Oriente 2018 a carogo del orientador Jose Mina" },
  { src: "/images/actividades/2018/31.jpg", title: "12 Agosto 2018- Finalizando nuestra sobresaliente participaciòn en Copa Oriente 2018 con la categroia 2008" },
  { src: "/images/actividades/2018/32.jpg", title: "10 Junio 2018-Participacion Copa Oriente 2018 categoria Sub10, a cargo del profesional en deporte Juan Yandun (Camisa Naranja)" },
  { src: "/images/actividades/2018/33.jpg", title: "10 Junio 2018-Participacion Copa Oriente 2018 categoria Sub8, Formador Juan Mancilla y presidente Diego Idrobo" },
  { src: "/images/actividades/2018/34.jpg", title: "9 Noviembre 2019 – Finalizando fase grupos por Copa Oriente 2019 Cat. Sub12" },
  { src: "/images/actividades/2018/35.jpg", title: "9 Noviembre 2019 – Fase grupos por Copa Oriente 2019 Cat. Sub10" },
  { src: "/images/actividades/2018/36.jpg", title: "8 Septiembre 2018- Participacion CO en San Antonio de los caballeros" },
  { src: "/images/actividades/2018/37.jpg", title: "8 Julio 2018-Nuestro formador Juan Yandun frente a sus dirigidos de la categoria Sub 10 en enfrentamiento por Copa Oriente frente a Astros de Villagorgona Candelaria" },
  { src: "/images/actividades/2018/38.jpg", title: "5 Mayo 2018-Conformación grupo Sub6 Sub7 y Sub8 de cara a la Copa Oriente 2018 con la orientacion del formador Jose Mina" },
  { src: "/images/actividades/2018/39.jpg", title: "5 Diciembre 2018-Finalización en Semis para nuestra categoria Sub10 en Copa Oriente" },
  { src: "/images/actividades/2018/40.jpg", title: "2 Noviembre 2019 – Fase grupos por Copa Oriente 2019 Cat. Sub8" },
  { src: "/images/actividades/2018/41.jpg", title: "Julio 2018- Categoria 2006 canchas del parque bosque municipal Florida" },
  { src: "/images/actividades/2018/42.jpg", title: "24 Junio 2018- De izquierda a derecha. Presidente Diego Idrobo, formador Alex Salgado, Formador Juan Mancilla y formador Andres Viafara" },
  
  
];

const totalPhotos = photos.concat(photos2.concat(photos3));

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2018 - Actividades y Torneos</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
  </head>
  <body>
    <Navbar />
    <main>
      <div class="header">
        <a href="/actividades" class="back-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
        </a>
      </div>
    
      <div class="section-container">
        <div class="section" id="eventos">
          <h2>
            COPA FUTUROS TALENTOS 2018</h2>
          <p>
            Nuevamente nuestra institución acepto la invitación a tan sobresaliente torneo, participando por temas económicos con tan solo dos categorías: Sub 10 y Sub 12; ambas superando con sobresaliente participación la fase de grupos, clasificadas en la casilla 4 y 1 respectivamente a los playoffs donde terminamos ocupando finalmente el cuarto y tercer puesto respectivamente, cumpliendo una excelente participación de nuestros entrenadores y deportistas que lograron compartir experiencias fuera de nuestro municipio con equipos y deportistas de otras localidades los cuales no habíamos enfrentado. Nuestra Categoría Sub 12 estuvo liderada por el profesional en deporte Diego Idrobo, y nuestra categoría Sub 10 por el profesional en deporte Juan Manuel Yandun, nuestros agradecimientos para ellos y los deportistas que cumplieron con este proceso a inicios del año 2018, Dios les bendice.          </p>
            
        
    
                
          
        </div>
      </div>
      <div class="gallery">
        {
          photos.map((photo: Photo, index: number) => (
            <div
              class="photo-card"
              data-index={index}
              data-src={photo.src}
              data-title={photo.title}
            >
              <img src={photo.src} alt={photo.title} />
              <h3>{photo.title}</h3>
            </div>
          ))
        }
      </div>

    </div>

      <div class="section-container">
        <div class="section" id="eventos">
          <h2>
            COPA TELEPACIFICO LIFUTBOLVALLE III DIVISION 2018</h2>
          <p>
            En el año 2018 nuestra institución participa nuevamente en la Copa Telepacifico, sin contar con la misma fortuna económica y deportiva. En esta oportunidad el director técnico fue Víctor Manuel Balanta Valencia, reconocido ex jugador de futbol profesional colombiano, que se encargó hasta mitad de temporada del equipo, dejando el cargo por problemas personales, el equipo en ese entonces lo retoma el cuerpo técnico del año pasado el profesor Armando Guerrero con su asistente técnico Diego Idrobo, en compañía del delegado Jhoan Javier Hurtado Vente. Nuestros jugadores para este torneo llegaron procedentes del Club La 11 encabeza de su líder deportivo William Sanchez, manteniendo también el 50% de la base de jugadores de la temporada pasada. En nuestra segunda participación en esta copa, sorteamos el grupo A que integraba 16 oncenos de la región del norte del departamento del cauca y valle del cauca, tras 30 jornadas concluimos en la penúltima posición del grupo con 12 puntos, con -87 en diferencia de gol, en esta oportunidad no se nos dieron los resultados debido al déficit económico que impidió el desarrollo ideal del proceso, en esta oportunidad recibimos una inyección económica por parte del director del IMDER Florida 2018 Hugo Anturi Martínez, pero no fue suficiente para que culmináramos los partidos del torneo en su totalidad pues nuestro equipo se retiró en la fecha 24m, perdiendo los últimos 6 partimos de la copa por W. O. (3×0) sin ninguna chance matemática de clasificarse a los playoffs.            
            <p>
  
              Agradecemos a la comunidad florida quien fue participe de este proyecto asistiendo al estadio Pero Diaz a alentar a nuestros jugadores, agradecemos también a la administración municipal en cabeza de IMDER Florida 2018 por el préstamo del estadio Pero Diaz para entrenamientos y partidos, retribuimos también toda nuestra gratitud a la emisora local Pluss Radio FM 96.0 quien fue participe activo de todo este proyecto difundiendo, todos nuestros partidos, entrenamientos, actividades y situaciones presentadas a través de su dial y redes sociales. A todas las personas que de buen corazón contribuyeron en la realización de este proyecto mil gracias, Dios les pague y les bendiga, este proyecto no conto con el acompañamiento económico de la administración municipal o empresas privadas, pero sí de todos nuestros jugadores, cuerpo técnico, sus familias y comunidad en general que aporto económicamente de una u otra manera a tan lindo macrociclo.      
              <p>
    
                
        </div>
      </div>
      <div class="gallery">
        {
          photos2.map((photo: Photo, index: number) => (
            <div
              class="photo-card"
              data-index={index + photos.length}
              data-src={photo.src}
              data-title={photo.title}
            >
              <img src={photo.src} alt={photo.title} />
              <h3>{photo.title}</h3>
            </div>
          ))
        }
      </div>


      <div class="section-container">
        <div class="section" id="eventos">
          <h2>COPA ORIENTE LIFUTBOLVALLE 2018</h2>
          <p>
            Nuestro club participa por segunda vez de un torneo de la liga vallecaucana de futbol con sus categorías menores, este torneo realizado por el comité de futbol de Florida Valle y avalado por la Liga Vallecaucana de Futbol, realizo en su segunda versión en los municipios de Candelaria, Villagorgona, Pradera y Florida en el departamento del Valle, y Miranda y Corinto en el norte del departamento del Cauca.

          </p>
          <p>
  
            Nuestra institución deportiva participo con tres categorías Sub-8, Sub-10 y sub-12, todas superaron con éxito la fase de grupos, clasificados en la cuarta, tercera y primera casilla respectivamente a los playoffs donde llegamos invictos a la final con la categoría sub-12, ganando todos los partidos hasta esta instancia, desafortunadamente perdimos por la mínima diferencia con el CD Ángeles de Pradera en la Gran Final, este equipo fue liderado por el Tecnólogo en deportes Andrés Fernando Viafara. La categoría Sub 10 al mando del profesor Juan Yandun también sorteo la fase de grupos y los playoffs invictos hasta las semifinales donde cayeron derrotados por el CD Quilmes de Miranda Cauca. Nuestra categoría Sub 8, al mando del formador Alexander Salgado Márquez y Juan Mancilla, llego a los cuartos de final de la competencia, cumpliendo con una excelente labor formativa y deportiva. Nuestros agradecimientos a nuestros entrenadores formadores, a nuestros deportistas, a las familias de nuestros afiliados, a nuestra secretaria Diana Motato, a nuestro presidente Diego Idrobo.


      
          </p>
    
                
        </div>
      </div>
      <div class="gallery">
        {
          photos3.map((photo: Photo, index: number) => (
            <div
              class="photo-card"
              data-index={index + photos.length + photos2.length}
              data-src={photo.src}
              data-title={photo.title}
            >
              <img src={photo.src} alt={photo.title} />
              <h3>{photo.title}</h3>
            </div>
          ))
        }
      </div>


      <div
        id="photo-data"
        data-photos={JSON.stringify(totalPhotos)}
        style="display: none;"
      >
      </div>
    </main>
    <Footer />
    <WhatsAppButton />

    <!-- Lightbox Container -->
    <div id="lightbox" class="lightbox">
      <span class="lightbox-close">&times;</span>
      <img class="lightbox-content" id="lightbox-img" />
      <div class="lightbox-caption" id="lightbox-caption"></div>
      <span class="lightbox-prev">&#10094;</span>
      <span class="lightbox-next">&#10095;</span>
    </div>
  </body>
</html>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23FFFFFF' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  }

  main {
    padding: 6rem 1rem 2rem 1rem; /* Ajustar el padding-top para dar espacio al navbar */
  }

  section {
    margin-bottom: 2rem;
  }

  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #003366;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #FF7F50; /* Naranja */
  transform: scale(1.1);
}

.back-button svg {
  width: 24px;
  height: 24px;
}

  .timeline-section h2,
  .activities-section h2 {
    text-align: center;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
  }

  .timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #ff6600;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-item {
    padding: 20px 40px;
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 2rem;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in-left 0.5s forwards;
  }

  .timeline-item.right {
    left: 48.9%;
    transform: translateX(100%);
    animation: slide-in-right 0.5s forwards;
  }

  .timeline-item.left {
    left: -7%;
  }

  .timeline-item.left::before {
    content: " ";
    position: absolute;
    top: 15px;
    right: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }

  .timeline-item.right::before {
    content: " ";
    position: absolute;
    top: 15px;
    left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }

  .timeline-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .timeline-content {
    text-align: center;
  }

  .date {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  .img-timeline {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  #eventos h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding: 4rem 2rem;
  }

  .section {
    flex: 1 1 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .read-more {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .read-more:hover {
    background-color: #cc5200;
    transform: scale(1.05);
  }

  .circle {
    position: absolute;
    background-color: #ff6600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .circle.start {
    left: 50%;
    transform: translateX(-50%);
    top: -10px; /* Adjust to position above the line */
  }

  .circle.end {
    right: 0;
    top: -10px; /* Adjust to position above the line */
  }

  .activities-section p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;


    
  }
  .photo-card {
    position: relative; /* Establece el contexto para posicionar elementos hijos */

    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
      width: 300px; /* Ancho fijo */
  height: 200px; /* Altura fija */
  }
  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
      object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */

  }
  .photo-card h3 {
    position: absolute; /* Superpone el texto sobre la imagen */
    bottom: 10px; /* Coloca el texto en la parte inferior */
    margin: 0;
    padding: 1rem;
    font-size: 0.6rem;
    background: #003366;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .photo-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  /* Lightbox Styles */
  .lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightbox-content {
    max-height: 80vh;
    width: auto;
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .lightbox-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
  }
  .lightbox-content,
  .lightbox-caption {
    animation: zoom 0.6s;
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .lightbox-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .lightbox-close:hover,
  .lightbox-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .lightbox-prev,
  .lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .lightbox-prev:hover,
  .lightbox-next:hover {
    color: #bbb;
  }
  .lightbox-prev {
    left: 20px;
  }
  .lightbox-next {
    right: 20px;
  }

  @keyframes slide-in-left {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-right {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @media (max-width: 768px) {


.lightbox {
display: none;
position: fixed;
z-index: 9999;
padding-top: 60px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.9);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; /* Cambiado a columna para la versión móvil */
}

.lightbox-content {
max-height: 80vh;
width: auto;
max-width: 90%;
display: block;
margin: auto;
}




.lightbox-prev,
.lightbox-next {
top: 40%;

}

.timeline-section h2 {
text-align: center;
margin-bottom: 2rem;
font-size: 2rem;
color: #ff6600;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.timeline-item.right {
    left: 39%;
    transform: translateX(100%);
    animation: slide-in-right 0.5s forwards;
  }

  .timeline-item.left {
    left: -7%;
  }

}

</style>

<script>
  let currentIndex = 0;
  interface Photo {
    src: string;
    title: string;
  }
  let photos: Photo[] = [];

  const photoDataElement = document.getElementById("photo-data");
  if (photoDataElement) {
    const dataPhotos = photoDataElement.getAttribute("data-photos");
    if (dataPhotos) {
      photos = JSON.parse(dataPhotos);
    }
  }

  function openLightbox(index: number) {
    const lightbox = document.getElementById("lightbox");
    const lightboxImg = document.getElementById(
      "lightbox-img"
    ) as HTMLImageElement;
    const lightboxCaption = document.getElementById("lightbox-caption");

    if (lightbox && lightboxImg && lightboxCaption) {
      currentIndex = index;
      lightbox.style.display = "flex";
      lightboxImg.src = photos[currentIndex].src;
      lightboxCaption.innerText = photos[currentIndex].title;
    }
  }

  function closeLightbox() {
    const lightbox = document.getElementById("lightbox");
    if (lightbox) {
      lightbox.style.display = "none";
    }
  }

  function prevPhoto() {
    console.log("Previous photo");
  }

  function nextPhoto() {
    currentIndex = (currentIndex + 1) % photos.length;
    openLightbox(currentIndex);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const photoCards = document.querySelectorAll(".photo-card");
    const lightbox = document.getElementById("lightbox");

    if (lightbox) {
      lightbox.style.display = "none";
    }

    photoCards.forEach((card) => {
      card.addEventListener("click", () => {
        const indexAttr = card.getAttribute("data-index");
        if (indexAttr !== null) {
          const index = parseInt(indexAttr, 10); // Aquí, 10 especifica que el número es en base 10
          if (!isNaN(index)) {
            openLightbox(index);
          }
        }
      });
    });

    const lightboxClose = document.querySelector(".lightbox-close");
    if (lightboxClose) {
      lightboxClose.addEventListener("click", closeLightbox);
    }

    const lightboxPrev = document.querySelector(".lightbox-prev");
    if (lightboxPrev) {
      lightboxPrev.addEventListener("click", prevPhoto);
    }

    const lightboxNext = document.querySelector(".lightbox-next");
    if (lightboxNext) {
      lightboxNext.addEventListener("click", nextPhoto);
    }

    if (lightbox) {
      lightbox.addEventListener("click", (event) => {
        if (event.target === lightbox) {
          closeLightbox();
        }
      });
    }
  });
</script>
